@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", serif;
}
.cursiveFont {
  font-family: "Pacifico", serif;
}

.hoverEffect{
  position: relative;
}
.hoverEffect::before{
  content: '';
  position: absolute;
  bottom: 0;
  height: 3px;
  left: 50%;
  transform: translate(-50%, 5px);
  width: 0px;
  background-color: #3b82f6;
  transition: all 0.3s ease-in-out; 
}
.hoverEffect.active::before, .hoverEffect:hover::before{
  width: 100%;
}
.profileImage{
  background: url('./assets/images/cat.png');
}
.defaultBackgroundImage{
  background: linear-gradient(90deg, #e0e0e0 25%, #f0f0f0 50%, #e0e0e0 75%);
  min-height: 70px;
  min-width: 70px;;
}